/* custom-theme.css */
/* @theme theme411 */

@import 'default';

:root{
    --primary-color: #414bb2;
    --text-white: #fff;
    --text-dark-gray: #333;
    --text-secondary-color: #ccc;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    line-height: 1.4;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    font-family: "Arial", "Hiragino Maru Gothic ProN";
    font-size: 1.75rem;
    padding: 5rem;
    width: 100%;
}

section.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-secondary-color);
}

section.title h1 {
    color: #fff;
    font-size: 5rem;
    text-align: center;
}

section.title h1::after{
    display: flex;
    content: "";
    width: 7.5rem;
    height: .5rem;
    margin: 2.5rem auto 0;
    padding: 0;
    background-color: var(--text-white);
    border-radius: .25rem;
}

section.title h2{
    display: block;
    font-size: 2.5rem;
    color: var(--text-white);
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

section.slides{
    display: flex;

    width: 100%;

    flex-direction: column;
    justify-content: flex-start;    
    align-items: flex-start;
}

section.slides h1{
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    font-size: 3.5rem;
}    

section.slides h1::after{
    display: flex;
    content: "";
    width: 5rem;
    height: .5rem;
    border-radius: .25rem;
    background-color: var(--primary-color);
    margin: 1rem 0;
}

section.slides h2{
    display: block;
    margin: 0 0 1.5rem;
    padding: 0;
    font-size: 2.5rem;

    color: var(--text-dark-gray);
}

section.slides pre{
    display: block;
    width: 100%;
    margin: 1rem 0;
}

section img{
    display: block;

    border-radius: .5rem;

    height: 400px;
    position: absolute;
}
